# User-specific stuff
.idea/**

!.idea/runConfigurations/**

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# Temp folder
/tmp

# Settings
*.settings

# Credentials
credentials.yml

# Logs
/logs
*.log

### Java build files
/target

*.classpath
*.project